{% for forum in forums %}
<div tabindex="0" id="forum-{{ forum.id }}" class="collapse collapse-open border-base-300 bg-base-200 border">
  <div class="collapse-title bg-primary primary-content grid grid-cols-5">
    <div class="text-xl font-medium col-span-2">{{ forum.name }}</div>
    <div class="text-sm font-medium text-right col-span-3 align-text-bottom">{{ forum.description }}</div>
  </div>
  {% for forum in forum.forums %}
  <div tabindex="0" id="forum-{{ forum.id }}" class="card card-side border-base-300 bg-base-200 border ml-5">
    <figure>
      <div class="avatar">
        <div class="mask mask-hexagon w-24">
          <img src="/static/media/avatar.jpg" />
        </div>
      </div>
    </figure>
    <div class="card-body grid grid-cols-5">
      <div class="col-span-3">
        <div class="text-xl font-medium">{{ forum.name }}</div>
        <p>{{ forum.description }}</p>
      </div>
      <div class="stats shadow col-span-2">
        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block h-8 w-8 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
          </div>
          <div class="stat-title">Threads</div>
          <div class="stat-value">31K</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block h-8 w-8 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
              </path>
            </svg>
          </div>
          <div class="stat-title">Posts</div>
          <div class="stat-value">420k</div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
