{% set forum_name = "Bluesky API Touchers" %}
{% set forum_description = "A forum for discussing the Bluesky API and AT Proto" %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      {{ forum_name }}
    {% endblock %}
  </title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  <script src="/static/dist/htmx-1.9.10.js"></script>
</head>

<body class="bg-base-300">
  <div class="container mx-auto w-full max-w-[75rem] p-4">
    {% include 'components/navbar.html' %}
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
